@model IEnumerable<Session1.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h2>Index</h2>
@{ Html.BeginForm("Index", "Product", FormMethod.Get);}
    @Html.TextBox("search")
    <button type="submit">Search</button>
@{ Html.EndForm();}
<p>
    @Html.ActionLink("Create New", "Create") ||
    @Html.ActionLink("Sort By Name ASC", "Index", new { sortOrder = "asc" }) ||
    @Html.ActionLink("Sort By Name DESC", "Index", new { sortOrder = "desc" })

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.name)
        </th>        
        <th>
            @Html.DisplayNameFor(Model => Model.image)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.price)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>       
            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
