@model dynamic

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";

}

<h2>Index</h2>
@{ Html.BeginForm("Index", "Product", FormMethod.Get);}
@Html.TextBox("search")

<button type="submit">Search</button>
@{ Html.EndForm();}
<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Sort by Name ASC", "Index", new { sortOrder = "asc" })
    @Html.ActionLink("Sort by Name DESC", "Index", new { sortOrder = "desc" })
</p>

<table class="table">
    <tr>

        <th>
            Name
        </th>
        <th>
            Image
        </th>
        <th>
            Price
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (Session1.Models.Product item in Model.Products)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
